/* Reset and base styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 16px;
}

:root {
	--font-family: "Plus Jakarta Sans", sans-serif;
	--fw-med: 500;
	--fw-bold: 700;

	--color-lime: hsl(61, 70%, 52%);
	--color-lime\15: hsla(61, 70%, 52%, 0.15);
	--color-lime\75: hsla(61, 70%, 52%, 0.75);
	--color-red: hsl(4, 69%, 50%);
	--color-slate-100: hsl(202, 86%, 94%);
	--color-slate-300: hsl(203, 41%, 72%);
	--color-slate-300\25: hsla(203, 41%, 72%, 0.25);
	--color-slate-500: hsl(200, 26%, 54%);
	--color-slate-700: hsl(200, 24%, 40%);
	--color-slate-900: hsl(202, 55%, 16%);
	--color-slate-900\10: hsla(202, 55%, 16%, 0.1);
	--color-white: hsl(0, 0%, 100%);
}

button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	font-family: inherit;
}

body {
	font-family: var(--font-family);
	background-color: var(--color-slate-100);
	min-height: 100vh;

	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	width: 100%;
}

.card {
	background-color: var(--color-white);
	box-shadow: 0 32px 64px 0 var(--color-slate-900\10);
	overflow: hidden;
}

.form-section {
	padding: 2rem 1.5rem;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 0.5rem;
	margin-bottom: 1.5rem;
}

header h1 {
	font-size: 1.5rem;
	font-weight: var(--fw-bold);
	line-height: 1.25;
	color: var(--color-slate-900);
}

header .clear-btn {
	font-size: 1rem;
	font-weight: var(--fw-med);
	line-height: 1.25;
	color: var(--color-slate-700);
	border-bottom: 1px solid var(--color-slate-700);
}

header .clear-btn:hover {
	color: var(--color-slate-900);
	border-bottom-color: var(--color-slate-900);
}

header .clear-btn:focus-visible {
	outline: 2px solid var(--color-lime);
	outline-offset: 2px;
	border-radius: 2px;
}

.form-group {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
}

.form-group {
	margin-bottom: 1.5rem;
}

.form-group label,
.radio-group legend {
	font-size: 1rem;
	font-weight: var(--fw-med);
	line-height: 1.5;
	color: var(--color-slate-700);
}

.row {
	display: flex;
	flex-direction: column;
	column-gap: 1.5rem;
}

.row .form-group {
	flex: 1;
}

.input-wrapper {
	display: flex;
	border-radius: 0.25rem;
	border: 1px solid var(--color-slate-500);
	transition: border-color 200ms;
	overflow: hidden;
	cursor: text;
}

.input-wrapper:hover {
	border-color: var(--color-slate-900);
}

.input-wrapper:focus,
.input-wrapper:focus-visible,
.input-wrapper:focus-within {
	border-color: var(--color-lime);
}

.symbol {
	background-color: var(--color-slate-100);
	color: var(--color-slate-700);
	padding: 0.75rem 1rem;
	font-size: 1.125rem;
	font-weight: var(--fw-bold);
	transition: background-color 200ms;
}

.input-wrapper:focus .symbol,
.input-wrapper:focus-visible .symbol,
.input-wrapper:focus-within .symbol {
	background-color: var(--color-lime);
	color: var(--color-slate-900);
}

.input-wrapper input {
	width: 100%;
	border: none;
	outline: none;
	padding: 0.75rem 1rem;
	font-size: 1.125rem;
	font-weight: var(--fw-bold);
	color: var(--color-slate-900);
}

.input-wrapper.prefix .symbol {
	order: 1;
}
.input-wrapper.prefix input {
	order: 2;
}

.input-wrapper.suffix .symbol {
	order: 2;
}
.input-wrapper.suffix input {
	order: 1;
}

.radio-group {
	border: none;
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
}

.radio-group legend {
	margin-bottom: 0.75rem;
}

.form-group .radio-label {
	display: flex;
	align-items: center;
	padding: 0.75rem 1rem;
	border: 1px solid var(--color-slate-500);
	border-radius: 0.25rem;
	cursor: pointer;

	font-size: 1.125rem;
	font-weight: var(--fw-bold);
	line-height: 1.25;
	color: var(--color-slate-900);
}

.radio-label:hover {
	border-color: var(--color-lime);
}

.radio-label input[type="radio"] {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}

.radio-label:focus-within {
	border-color: var(--color-lime);
    box-shadow: 0 0 0 1px var(--color-lime);
}

.radio-custom {
	width: 1.25rem;
	height: 1.25rem;
	border: 2px solid var(--color-slate-700);
	border-radius: 50%;
	margin-right: 1rem;
	display: grid;
	place-items: center;
}

.radio-label:has(input:checked) {
	background-color: var(--color-lime\15);
	border-color: var(--color-lime);
}

.radio-label input:checked + .radio-custom {
	border-color: var(--color-lime);
}

.radio-label input:checked + .radio-custom::after {
	content: "";
	width: 0.625rem;
	height: 0.625rem;
	background-color: var(--color-lime);
	border-radius: 50%;
}

.calculate-btn {
	width: 100%;
	background-color: var(--color-lime);
	color: var(--color-slate-900);
	padding: 1rem;
	border-radius: 999px;
	font-size: 1.125rem;
	font-weight: var(--fw-bold);
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.75rem;
	margin-top: 1.5rem;
	transition: background-color 200ms;
}

.calculate-btn:hover {
	background-color: var(--color-lime\75);
}

.calculate-btn:focus-visible {
	outline: 2px solid var(--color-slate-900);
	outline-offset: 2px;
}

.form-group.error .input-wrapper {
	border-color: var(--color-red);
}

.form-group.error .symbol {
	background-color: var(--color-red);
	color: var(--color-white);
}

.error-msg {
	color: var(--color-red);
	font-size: 0.875rem;
	font-weight: var(--fw-med);
	line-height: 1.5;
	display: none;
}

.form-group.error .error-msg {
	display: block;
}

.result-section {
	padding: 2rem 1.5rem;
	background-color: var(--color-slate-900);
}

.empty-state {
	text-align: center;
}

.empty-state {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.completed-state {
	display: flex;
	flex-direction: column;
}

.empty-state.inactive,
.completed-state.inactive {
	display: none;
}

.empty-state img {
	margin-bottom: 1rem;
}

.empty-state h2,
.completed-state h2 {
	font-size: 1.5rem;
	font-weight: var(--fw-bold);
	line-height: 1.25;
	margin-bottom: 1rem;
	color: var(--color-white);
}

.empty-state p,
.completed-state p {
	font-size: 1rem;
	font-weight: var(--fw-med);
	line-height: 1.5;
	color: var(--color-slate-300);
}

.result-box {
	padding: 1.5rem 1rem;
	border-radius: 0.5rem;
	background-color: hsla(0, 0%, 0%, 0.25);
	border-top: 4px solid var(--color-lime);
	margin-top: 1.5rem;
}

.result-box h3 {
	font-size: 1rem;
	font-weight: var(--fw-med);
	line-height: 1.5;
	color: var(--color-slate-300);
	margin-bottom: 0.5rem;
}

.monthly output {
	font-size: 2.5rem;
	font-weight: var(--fw-bold);
	color: var(--color-lime);
}

.total output {
	font-size: 1.5rem;
	font-weight: var(--fw-bold);
	line-height: 1.25;
	color: var(--color-white);
}

.result-box hr {
	border: 0;
	height: 1px;
	background-color: var(--color-slate-300\25);
	margin-block: 1rem;
}

@media screen and (min-width: 768px) {
	body {
		padding: 2.5rem;
	}

	.container {
		max-width: 672px;
		margin: 0 auto;
	}

	.card {
		border-radius: 1.5rem;
	}

	.form-section,
	.result-section {
		padding: 2.5rem;
	}

	header {
		margin-bottom: 2.5rem;
	}

	.row {
		flex-direction: row;
	}

	.calculate-btn {
		margin-top: 2.5rem;
		max-width: 20rem;
	}

	.result-box {
		padding: 2rem;
		margin-top: 2.5rem;
	}

	.monthly output {
		font-size: 3.5rem;
	}

	.result-box hr {
		margin-block: 2rem;
	}
}

@media screen and (min-width: 1280px) {
	.container {
		max-width: 1024px;
		margin: 0 auto;
	}

	.card {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}

	.result-section {
		border-bottom-left-radius: 5rem;
	}
}
